#dash-sidebar
	.dash-sidebar-head Account
	%ul.account-categories
		%li
			.cat-head
				%i.fa.fa-money
				.amount $0.00
				Cash
			.cat-body
				.body-text
					Got any cash?
				.cta Add it now!
		%li
			.cat-head
				%i.fa.fa-credit-card
				.amount $0.00
				Credit Cards
			.cat-body
				.body-text
					Do you have a credit card?
				.cta Add it now!
		%li
			.cat-head
				%i.fa.fa-graduation-cap
				.amount $0.00
				Loans
			.cat-body
				.body-text
					Do you have a mortgage, student loan, or auto load?
				.cta Add them now!
		%li
			.cat-head
				%i.fa.fa-line-chart
				.amount $0.00
				Investments
			.cat-body
				.body-text
					Do you have any investment account?
				.cta Add it now!

	.dash-sidebar-head Connected Apps
	%ul.account-categories
		%li
			.cat-head.sidebar-app-feex
				.notifications 1
				FeeX
		%li
			.cat-head
				.notifications
				Payz
		%li
			.cat-head
				.notifications 3
				Shopify
		%li
			.cat-head
				.notifications 1
				Eloan

	.dash-sidebar-head.suppliers-head Suppliers
	%ul.account-categories
		%li
			.cat-head
				Erlich Brown 
				%em.title (Broker)
		%li
			.cat-head
				Dave
				%em.title (Private budget manager)
		%li
			.cat-head
				.notifications 3
				Joe
				%em.title (CPA)

#dash-main
	.dash-main-section.active#dash-main-feed
		.dash-main-head Feed
		%ul.dash-feed
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'check.jpg', name: 'Check', type: 'App', rating: 5, money: '$400.00', text: 'Asaf you paid a late fee of $400.00 last month. Try Check and never pay late fees again!' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'citibank.png', name: 'Citibank', type: 'Supplier', rating: 3, money: '$30.00', text: 'Asaf, you have many purchases in Tesco. Using our credit card you would have saved $30 last month.' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'coin.png', name: 'Coin', type: 'App', rating: 5, money: '$152.00', text: 'Asaf, you can get more out of your credit cards. With coin you can save by using the best credit card for each purcahse.' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'payz.jpg', name: 'PayZ', type: 'App', rating: 2, money: '$5.00', text: 'Asaf, you used your Bank of America in Tesco instead of their card!' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'feex.png', name: 'Feex', type: 'App', rating: 3, money: '$20,000', text: 'You pay too much pension fees. Instead of 3% that you pay today, you can pay 2%. Send us a message.' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'eloan.gif', name: 'Eloan', type: 'App', rating: 4, money: '50$', text: 'The borrower was paid last payment. Would you like us to re-allocate the money?' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'visa.jpg', name: 'Visa', type: 'Financial Inst.', rating: 4, money: 'Document from supplier', text: 'Your credit card monthly statement' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'shoeboxed.jpg', name: 'Shoeboxed', type: 'App', rating: 3, money: 'Retainer', text: 'The document from Erlich Brown, Broker was archived!' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: '1.jpg', name: 'Joe', type: 'CPA', rating: 5, money: 'compliance', text: 'Hi Asaf your tax return is ready (sent VIA message) do you want me to e-file? Bill is 246 K.' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: '2.jpg', name: 'Dave', type: 'Private Budget Manager', rating: 5, money: 'Retainer', text: 'You saved 50$ in comparison to last month but your travel expenses is still too high' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: '3.jpg', name: 'Erlich brown', type: 'Broker', rating: 4, money: 'Document from supplier', text: 'Performance for November' }
			%li.feed-item
				= render partial: 'feed_item', locals: { pic: 'shoeboxed.jpg', name: 'Shoeboxed', type: 'App', rating: 5, money: '$600.00', text: 'The document from Erlich Brown (broker) was archived!' }

	.dash-main-section#dash-main-app-feex
		.dash-app-pic{ style: "background-image: url(#{ asset_path 'feex.png' })" }
		.dash-app-title.dash-main-head 
			Feex
			%em (Fintech App)
			
		.dash-app-rating
			- 3.times do
				%span.fa.fa-star
			- 2.times do
				%span.fa.fa-star-o

		.dash-app-desc
			The financial industry is built on an asymmetry of information that causes us to pay high fees for average or even poor performance. These fees compound over time and can easily erase a third or more of our retirement savings. What's worse, most of us don't even notice.

			As the Robin Hood of Fees, we at FeeX believe that everyone is entitled to free and clear information about how much we're all paying for the privilege of investing. Financial websites might be okay for those versed in the byzantine language of finance, but the rest of us can often use a little help to untangle the thicket of financial jargon that separates us from our money. Those of us here at FeeX come not from the world of finance, but from the world of tech, and our mission is to use technology to democratize finance and build better retirement outcomes for everyone.
			%a.dash-learn-more Learn more...

		.dash-main-head.messages-head Messages from Feex
		%ul.dash-app-messages
			%li.message
				%span.message-subject
					Welcome! 
				%span.message-content
					Congrats on joining TaxPass, we hope you get the most of this amazing service...
				%span.message-date
					5, Nov 2014

			%li.message.read
				%span.message-subject
					Great saving on its way! 
				%span.message-content
					Dear Asaf, according to the info you chose to share with us, our algorithm shows ...
				%span.message-date
					15, Nov 2014

			%li.message.read
				%span.message-subject
					Reminder: save on Pension
				%span.message-content
					Asaf, how are you? we just wanted to remind you about the shitload of money you are entitled to...
				%span.message-date
					1, Dec 2014







